<div class="container">
  <form action="/cool_url" method="GET">
    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    <input type="submit" value="submit choice">
<!--     <textarea cols="40" rows="5" name="get_string" wrap=physical>
      Enter Get Query
    </textarea>
    <input type="submit" value="submit get"> -->
  </form>
  <br>
  <form action="/user_info" method="POST">
    <label>Name
    <input type="text" name="user[full_name]"><br>
    </label>
    Email <input type="text" name="user[email]"><br>
    Street Address<input type="text" name="user[st_addr]"><br>
    City <input type="text" name="user[city]"><br>
    State <input type="text" name="user[state]"><br>
    Zip Code <input type="text" name="user[zip]"><br>
    Age <input type="text" name="user[age]"><br>
    Favorite Dinosaur
    <select name="user[dino]">
      <option>T-Rex</option>
      <option>Stegosaurus</option>
      <option>Velociraptor</option>
    </select>
  <input type="submit" value="submit choice">

<!--     <input type="checkbox" name="option1" value="Cool" checked> Cool<br>
    <input type="checkbox" name="option2" value="Uncool"> Uncool<br>
    <input type="submit" value="submit post"> -->
  </form>

  <br>
  <br> 
  <form action="/madlibs" method="GET">
    Make a Madlib!
    <label>Noun01
    <input type="text" name="words[noun01]"><br>
    </label>
    Verb01 <input type="text" name="words[verb01]"><br>
    Adjective01<input type="text" name="words[adj01]"><br>
  <input type="submit" value="submit words">

<!--     <input type="checkbox" name="option1" value="Cool" checked> Cool<br>
    <input type="checkbox" name="option2" value="Uncool"> Uncool<br>
    <input type="submit" value="submit post"> -->
  </form>
</div>




<!--   <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table> -->
